/* bootstrap fixes */
.row > div { overflow: hidden; }
.input-group .form-control:focus, .input-group .form-control:active, .input-group .form-control:hover { z-index: inherit; }

/* loading screen */
.pg-loading h1 { color: #fff; font-size: 55px; font-family: 'Open Sans', sans-serif; font-weight: 800; }
.pg-loading-screen .pg-loading-logo { animation-name: rotate; animation-duration: 2s; animation-iteration-count: infinite; animation-timing-function: linear; }
@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* boilerplate */
*:focus { outline: none !important; }
body { background: #338166; font-family: 'Open Sans'; }
main { margin-left: 70px; margin-top: 40px; padding-left: 30px; padding-right: 30px; color: #fff; }
.input-group * { border: none; border-radius: 0; }

/* responsive variable styles */
h1 { font-size: 55px; font-weight: 800; }
h2 { font-size: 33px; font-weight: 700; }
.progress { margin-bottom: 6px; height: 22px; }

@media (max-width: 1300px) {
    h1 { font-size: 45px; font-weight: 800; }
    h2 { font-size: 27px; font-weight: 700; }
    .progress { margin-bottom: 6px; height: 18px; }
}

/* common styles */
.clickable { -webkit-user-select: none; cursor: pointer; }
.pad { padding: 15px; }

.valign-content { display: table; }
.valigned { display: table-cell; vertical-align: middle; }
.flexbox { display: flex; align-items: center; }
.flexbox.center { justify-content: center; }

/* sidebar */
#sidebar { width: 300px; z-index: 1000; position: fixed; left: -230px; top: 0; bottom: 0; background: #2d2d2d; transition: left .3s ease; }
#sidebar #search-box * { height: 70px; }
#sidebar #search-box input { padding: 5px 10px; font-size: 35px; }
#sidebar #search-box button { width: 70px; font-size: 35px; text-align: center; padding: 0; }
#sidebar #search-box button i { line-height: 70px; }
#sidebar:hover, #sidebar.keep { left: 0; }
#sidebar:hover #pokemon-list, #sidebar.keep #pokemon-list { left: 0; background: #868686; }
#sidebar:hover img, #sidebar.keep img { left: 0; -webkit-filter: grayscale(0%) !important; }

/* scroll pokemon search */
#sidebar #pokemon-list-container { overflow-y: scroll; height: 100%; padding-bottom: 70px; }
#sidebar #pokemon-list-container::-webkit-scrollbar { display: none; }

/* pokemon search */
#sidebar #pokemon-list { margin: 0; padding: 0; background: #2d2d2d; transition: background .3s ease; }
#sidebar .pokemon-item { width: 100%; height: 70px; }
#sidebar .pokemon-item .name { position: relative; color: #868686; background: #2d2d2d; font-size: 24px; padding: 5px 10px; text-align: center; }
#sidebar .pokemon-item .icon { width: 70px; background: transparent; text-align: center; }
#sidebar .pokemon-item .separator { position: absolute; bottom: 0; left: 0; right: 0; margin: 0 auto; width: 70%; border-bottom: 1px solid #868686; }
#sidebar .pokemon-item:hover .name { color: #fff; }
#sidebar .pokemon-item:hover .icon { background: #86b086; }
#sidebar .pokemon-item .icon img { image-rendering: pixelated; transform: scale(2); -webkit-filter: grayscale(100%); }

#picture { text-align: center; }
#picture img { image-rendering: pixelated; width: 100%; height: auto; max-width: 288px; max-height: 288px; }

/* basic pokemon characteristics */
#nature { width: 300px; margin-top: 33px; }
#level { width: 200px; margin-top: 33px; }
#level input { text-align: center; }
#level .arrow { padding-left: 3px; padding-right: 3px; }
#stats-table { margin-top: 33px; text-align: center; }
#stats-table .stat { margin-top: 15px; }
#stats-table .stat .piece { display: inline-block; width: 30%; }
