<aside id="sidebar" [ngClass]="{keep: searchBoxFocused}">
    
    <div id="search-box" class="input-group">

        <input
            type="text" class="form-control" placeholder="Pokemon..."
            [(ngModel)]="search" (keyup)="pokemonList.execFilter()"
            (focusin)="searchBoxFocused = true"
            (focusout)="searchBoxFocused = false">

        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>

    </div>

    <pokemon-list #pokemonList [search]="search"></pokemon-list>

</aside>


<main>
    <div class="container-fluid">

        <div class="row">

            <div id="picture" class="col-xs-12 col-sm-12 col-md-3 pad flexbox center">
                <img src="assets/pokemon/front/{{ displayPokemon().id == undefined ? 'egg' : displayPokemon().id }}.png">
            </div>

            <div class="col-md-9 pad flexbox">

                <div><!-- flexbox vertical aligns this child -->
                    <h1 id="name">{{ displayPokemon().name | firstCapitalLetter }}</h1>
                    <h3 id="level">Lv. <input class="simple underline" [(ngModel)]="level" value="">,</h3>
                    <h3 id="nature"><input class="simple underline" [(ngModel)]="nature" value="" placeholder="Nature"></h3>
                </div>
            </div>

        </div>


        <div id="stats-table">
            
            <div *ngFor="#key of getKeysOfStatsTable()" class="row stat stat-{{ key }}">
                
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                    <h3 class="piece">{{ key | uppercase }}</h3>
                    <h3 class="piece"><input class="simple" [(ngModel)]="iv[key]" value=""></h3>
                    <h3 class="piece"><input class="simple" [(ngModel)]="ev[key]" value=""></h3>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 flexbox">
                    <progress
                        class="progress progress-{{ getCalculatedStat(key) | colorTag:getLeveledMaxStat() }}"
                        value="{{ getCalculatedStat(key) }}"
                        max="{{ getLeveledMaxStat() }}">
                    </progress>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
                    <h3>{{ getCalculatedStat(key) }}</h3>
                </div>

            </div>

        </div>

    </div>
</main>