<aside id="sidebar" [ngClass]="{keep: searchBoxFocused}">
    
    <div id="search-box" class="input-group">
        <input type="text" class="form-control" placeholder="Pokemon..." [(ngModel)]="search" (keyup)="pokemonList.execFilter()" (focusin)="searchBoxFocused = true" (focusout)="searchBoxFocused = false">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>

    <pokemon-list #pokemonList [search]="search"></pokemon-list>

</aside>

<main>
    <div class="container-fluid">

        <div class="row">

            <div id="picture" class="col-xs-12 col-sm-12 col-md-3 pad flexbox center">
                <img src="assets/pokemon/front/{{ getPokemon().id }}.png">
            </div>

            <div class="col-md-9 pad flexbox">

                <div><!-- flexbox vertical aligns this child -->
                    <h1 id="name">{{ getPokemon().name | firstCapitalLetter }}</h1>

                    <div id="nature" class="input-group input-group-lg">
                        <span class="input-group-addon">Nature</span>
                        <input type="text" class="form-control">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>

                    <div id="level" class="input-group input-group-lg">
                        <span class="input-group-addon">Lv.</span>
                        <input type="text" class="form-control" value="100">
                        <span class="input-group-addon arrow clickable">◄</span>
                        <span class="input-group-addon arrow clickable">►</span>
                    </div>
                </div>
            </div>

        </div>

        <div id="stats-table">
            <div class="row stat stat-hp">
                
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                    <h3 class="piece">HP</h3>
                    <h3 class="piece">31</h3>
                    <h3 class="piece">250</h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 flexbox">
                    <progress class="progress progress-info" value="90" max="100"></progress>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
                    <h3>443</h3>
                </div>

            </div>
            <div class="row stat stat-atk">
                
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                    <h3 class="piece">ATK</h3>
                    <h3 class="piece">31</h3>
                    <h3 class="piece">0</h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 flexbox">
                    <progress class="progress progress-danger" value="20" max="100"></progress>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
                    <h3>76</h3>
                </div>

            </div>
            <div class="row stat stat-def">
                
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                    <h3 class="piece">DEF</h3>
                    <h3 class="piece">31</h3>
                    <h3 class="piece">250</h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 flexbox">
                    <progress class="progress progress-success" value="70" max="100"></progress>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
                    <h3>342</h3>
                </div>

            </div>
            <div class="row stat stat-satk">
                
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                    <h3 class="piece">SATK</h3>
                    <h3 class="piece">31</h3>
                    <h3 class="piece">250</h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 flexbox">
                    <progress class="progress progress-warning" value="30" max="100"></progress>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
                    <h3>123</h3>
                </div>

            </div>
            <div class="row stat stat-sdef">
                
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                    <h3 class="piece">SDEF</h3>
                    <h3 class="piece">31</h3>
                    <h3 class="piece">250</h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 flexbox">
                    <progress class="progress progress-success" value="50" max="100"></progress>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
                    <h3>224</h3>
                </div>

            </div>
            <div class="row stat stat-spd">
                
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                    <h3 class="piece">SPD</h3>
                    <h3 class="piece">31</h3>
                    <h3 class="piece">250</h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 flexbox">
                    <progress class="progress progress-warning" value="40" max="100"></progress>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1">
                    <h3>156</h3>
                </div>

            </div>
        </div>

    </div>
</main>